<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <!-- Android 11+ package visibility: the system media output panels openPicker looks for (AudioOutputModule.kt). -->
  <queries>
    <intent>
      <action android:name="com.android.systemui.action.LAUNCH_MEDIA_OUTPUT_DIALOG" />
    </intent>
    <intent>
      <action android:name="com.android.settings.panel.action.MEDIA_OUTPUT" />
    </intent>
  </queries>
</manifest>
